.j-header-mode-simple #j-header-wrap {
    position: absolute;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}

.j-header-mode-simple #j-compact-header {
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
}

.j-header-mode-simple #j-compact-header {
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    -webkit-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

#j-header, #j-compact-header {
    background: #306090 top;
    box-sizing: border-box;
    min-width: 990px;
}

.clearfix {
    min-height: 0;
}

#j-globalNav-bg {
    background: none repeat-x 0 0 #fff !important;
    background-image: inherit;
    background-color: #fff;
    height: 77px;
    outline: 1px solid #e2e2e3;
    padding: 0 20px;
    position: relative;
    margin: auto;
    max-width: 100%;
    border-bottom: 3px solid #e56841;
}

#j-globalNav {
    display: block;
    float: left;
    position: relative;
}

#j-globalNav>li:first-child+li.j-globalNav-li {
    margin: 0 0 0 -20px;
}

.j-globalNav li.j-globalNav-li {
    display: block;
    float: left;
    height: 38px;
    line-height: 25px;
    list-style-type: none;
    position: relative;
    font-weight: 500;
}

.j-simple-nav-logo {
    padding: 0;
}

a:link, a:visited, .j-body-news .j-menu .j-homenav-link {
    color: #404041;
}

a:link, a:visited {
    color: #3778c7;
    text-decoration: none;
}

.j-simple-logo {
    height: 77px;
    padding: 3px 25px 0;
    overflow: hidden;
    display: inline-block;
}

.j-simple-logo .pwc-logo-static {
    background: url(/pwc-logo-static.jpg) 0 2px no-repeat;
}

.j-simple-logo .pwc-logo {
    width: 100px;
    height: 70px;
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #e2e2e3;
}

.j-simple-logo .tagline {
    font-family: 'arial', sans-serif;
    font-size: 12px;
    color: #939598;
    float: left;
    line-height: 17px;
    margin-top: 16px;
}

.j-simple-logo .tagline .name {
    font-size: 14px;
    color: #404041;
    display: block;
}


#upload-widget{
    margin-top: 150px;
    min-height: auto;
}

.dropzone .dz-preview{
    min-height: auto;
}


.dropzone .dz-preview .dz-image{
    height: 50px;
    width: 50px;
}

.dropzone .dz-message{
    margin: auto;
}

.action-wrapper{
    text-align: center;
}

#btn-analyze{
    color: #fff;
    background-color: #e56841;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    margin-top: 20px;
}

span.error-msg {
    color: red;
    font-style: italic;
    position: relative;
    top: 5px;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
}

#btn-remove{
    float: right;
    font-size: 20px;
    position: relative;
    top: -4px;
}

#btn-remove i {
    cursor: pointer !important;
}